@font-face {
  font-family: 'Fragmentcore';
  src: url('./assets/fonts/Fragmentcore.otf') format('truetype');
}
@font-face {
  font-family: 'HelloValentina';
  src: url('./assets/fonts/HelloValentina.ttf') format('truetype');
}

html, body, #root {
  font-family: 'Fragmentcore', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%; /* Asegúrate de que ocupen toda la altura */
  
}




h1,h2,p {
  margin: 0;
  padding: 0;
}

/* center al the i, and its pseudoelements */
i, i::before, i::after{
  display: grid;
  place-items: center;
}

ul{
  padding: 0;
  margin: 0;
}